<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <body>
    <div>
      Code <%= statusCode %>  --- Message : <i><%= statusMessage %></i>
    </div>
    <div>
      Stack is : <%= stack %>  ...
    </div>
  </body>
</html>
